<html>
  <head>
    <title>{$title} - Bing壁纸下载</title>
    <meta name="keywords" content="{$title}" />
    <meta name="description" content="{$con}" />
  </head>
  <body>
<div style='width:100%;margin:25px auto;text-align:center;'><h1>{$title}</h1></div>
<p style='width:100%;margin:25px auto;text-align:center;'>
  <a style='display:inline-block;text-decoration: none;padding:2px 5px;border:1px solid #00f;' href='/img.php?img={$prename}'>{$pre}</a>&nbsp;&nbsp;
  <a style='display:inline-block;text-decoration: none;padding:2px 5px;border:1px solid #00f;' href='/img.php?img={$tnow}'>今天</a>&nbsp;&nbsp;
  <a style='display:inline-block;text-decoration: none;padding:2px 5px;border:1px solid #00f;' href='/img.php?img={$nextname}'>{$next}</a>
    </p>
    <p>{$copy}</p>
    <p>{$title}</p>
<p style='width:100%;margin:0 auto;text-align:center;'><a style='display:block;text-decoration: none;' href='/'>bing壁纸</a></p>
</body>
</html>